__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
*.dylib
*.dll
.env
.venv
env/
venv/
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.tox/
.envrc
venv.bak/
local_settings.py
instance/
.scrapy/
docs/_build/
target/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
results/
logs/
.snakemake/
